:root {
  --Color-BlueGray: #6b9ac4;
  --Color-BlueGray: #345995;
  --Color-BlueDark: #072146;
  --Color-BlueLight: #00a6fb;
  --Color-WhiteGhost: #f0eff4;
  --Color-BlackNight: #141115;
  --Color-gray: #e5e5e5;
  --Color-beigedGold: #c8aa6e;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  filter: sepia(20%) hue-rotate(10deg) brightness(95%) contrast(90%);
  /* overflow: hidden; */
  font-family: "Raleway", sans-serif;
}
h1 {
  font-weight: 800;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
  /* height: 50vh; */
}
a {
  color: var(--Color-WhiteGhost);
}
body {
  /* display: flex; */
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(to bottom, #345995, #283e64); */
}
img {
  max-width: 100%;
  height: auto;
}
h2 {
  background-color: var(--Color-WhiteGhost);
  padding: 0.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  z-index: 5;
}
.proTips {
  background-color: var(--Color-WhiteGhost);
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  padding: 0 0.5rem;
  /* text-align: cente; */
  /* padding: 0.5rem; */
}
header {
  padding: 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .btn-modalContainer #headerClosedModalAboutMe {
  max-width: 100px;
  cursor: pointer;
}
main {
  /* height: 100dvh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.sections {
  /* margin-top: 1rem; */
  width: 100%;
}
#konyImg {
  width: 25%;
  display: block;
  margin: auto;
  align-items: center;
  justify-content: center;
  animation: konyAnimation 700ms ease-in-out infinite;
}
@keyframes konyAnimation {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}
.fa-caret-down {
  color: lightgreen;
}
.btns {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-align: center;
  mix-blend-mode: difference;
  cursor: pointer;
  z-index: 999;
}
.btns .btn-burguerMenu {
  width: 50px;
  height: 50px;
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--Color-BlueGray);
  border: 1px solid var(--Color-WhiteGhost);
  box-shadow: 0 0 7px 2px;
}
.btns .btn-scrollUp {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid;
  color: var(--Color-BlueGray);
  border: 1px solid var(--Color-WhiteGhost);
  box-shadow: 0 0 7px 2px;
  opacity: 1;
  animation: btnanime 300ms linear forwards;
}
@keyframes btnanime {
  0% {
    box-shadow: none;
  }
  100% {
    color: var(--Color-BlueLight);
    box-shadow: 0 0 7px 2px;
  }
}
.btnToggle-tbl {
  border: 1px solid;
  color: var(--Color-BlueGray);
  border-radius: 50%;
  display: inline-block;
  float: right;
  position: sticky;
  top: 3rem;
  margin-left: 0.5rem;
  padding: 1rem;
  font-size: 1.5rem;
  z-index: 5;
  cursor: pointer;
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
  /* z-index: -1; */
}
.modal-container {
  background-color: var(--Color-BlueDark);
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 6;
}
.modal-boxPhrases {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-container .modal-boxPhrases button {
  /* color: #f04248; */
  padding: 1rem;
  border: none;
  filter: drop-shadow(0px 0px 1px var(--Color-WhiteGhost));
  margin-top: 4rem;
  /* color: white; */
}
.modal-boxPhrases #phraseRandom {
  color: var(--Color-WhiteGhost);
  filter: drop-shadow(0px 0px 2px var(--Color-WhiteGhost));
  padding: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}
.modal-aboutMe {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0px 7px 1px var(--Color-BlueLight);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  color: white;
}
.modal-aboutMe .aboutme-box:nth-of-type(1) {
  /* background-color: #00a6fb; */
  /* width: 100%; */
  grid-area: 1/1/2/2;
  align-self: end;
}
@keyframes aboutmeImg {
  0%,
  25% {
    filter: drop-shadow(0 0 2px red) drop-shadow(0 0 12px red);
  }
  50% {
    filter: drop-shadow(0 0 12px red) drop-shadow(0 0 22px red);
  }
  0%,
  100% {
    filter: drop-shadow(0 0 2px red) drop-shadow(0 0 12px red);
  }
}
.modal-aboutMe .aboutme-box img {
  animation: aboutmeImg 500ms ease-in infinite;
}
.modal-aboutMe .aboutme-box:nth-of-type(2) {
  width: 100%;
  align-self: end;
  font-family: merienda;
  padding: 1rem;
}
.modal-aboutMe .aboutme-box:nth-of-type(3) {
  grid-area: 2/1/3/3;
  align-self: start;
  cursor: pointer;
}
.modal-container button {
  padding: 0.5rem 2rem;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  border: 1px solid var(--Color-BlueLight);
  border-radius: 0.5rem;
  filter: drop-shadow(0px 0px 3px var(--Color-WhiteGhost));
  cursor: pointer;
}
.modal-aboutMe .aboutme-box {
  width: 100%;
  justify-content: center;
  align-items: center;
}
.modal-aboutMe .aboutme-box ~ .aboutme-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* ☢️☢️===MENU ASIDE===☢️☢️☢️☢️
☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️☢️ */

.aside-allsections {
  display: none;
}
.is-active-asideMenu {
  background-color: var(--Color-BlueDark);

  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: fixed;
  top: 5rem;
  z-index: 995;
  transition: all 300ms ease;
}
.asideContainer-boxsection {
  width: 100%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem;
}
.asideContainer-boxsection > .aside-boxSection h3 {
  width: 100%;
  background-color: var(--Color-BlueLight);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.asideContainer-boxsection > .aside-boxSection h3 > i {
  margin-right: 0.5rem;
}

.asideContainer-boxsection .aside-boxSection li {
  display: inline-flex;
  border: 1px solid;
  width: 100%;
  list-style: none;
}
.aside-boxSection > li > a {
  text-decoration: none;
  width: 100%;
  padding: 1rem;
  font-size: 2vh;
  font-weight: 400;
  font-family: sans-serif;
}
.asideMenubtns {
  /* background-color: gray; */
  margin-top: 1rem;
}
.asideMenubtns button:disabled {
  color: gray;
  border: none;
  text-decoration: none;
}
.asideMenubtns button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.5vh;
  text-decoration: underline;
  background-color: transparent;
  color: var(--Color-beigedGold);
  border: 2px solid var(--Color-beigedGold);
  border-radius: 0.5rem;
  line-height: 1.6;
  align-items: center;
  justify-items: center;
  justify-self: center;
  justify-content: center;
  /* border: 2px solid orange; */
}
.asideMenubtns button:nth-child(4) {
  /* background-color: red; */
  /* align-items: center; */
  /* align-self: center; */
  /* justify-content: center; */
  display: flex;
  font-size: 2vh;
  margin-top: 1rem;
  width: 50%;
  order: 1;
}

.asideMenubtns .btn-exitAside {
  /* display: flex; */
  /* margin: auto;
  left: 3rem;
  bottom: 9rem; */
  /* left: 0; */
  /* position: absolute; */

  color: white;
  filter: drop-shadow(0 0 2px white);
  /* background-color: red; */
}
.is-activeArticle-chainCommand .container-allCommands {
  height: 15vh;
}
.container-allCommands img {
  height: 120px;
}
.container-allCommands {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4px;
  /* position: relative; */
}
.container-allCommands:nth-child(even) {
  background-color: var(--Color-WhiteGhost);
}
.container-allCommands .container-box * {
  /* background-color: rebeccapurple; */
  list-style: none;

  /* height: 100%; */
}
.box-userChains li:first-of-type {
  font-weight: 700;
}

#pruebas {
  width: 100%;
  display: inline-block;
  /* height: 100vh; */
  background-color: var(--Color-gray);
  background-color: var(--Color-BlueDark);
  color: var(--Color-gray);
}
/* +++++SECTION HIERARCHICAL SCALE+++++
+++++++++++++++++++++++++++++++++++
 */
.sections:nth-of-type(2) {
  /* background-color: red;
  display: flex;
  flex-direction: column; */
}
#scaleGrades p {
  color: var(--Color-WhiteGhost);
  background-color: var(--Color-BlueDark);
  padding: 0.5rem;
  /* text-align: center; */
}
.grades {
  background-color: var(--Color-BlueDark);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vh;
  padding: 0.5rem;
}
.grades .containerGrades {
  color: white;
  text-align: center;
}
.grades figcaption {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-3rem);
  bottom: 0.5rem;
}
.grades h3 {
  margin-top: 1rem;
  text-align: center;
  font-size: clamp(1.5rem, 3vh, 3rem);
  grid-area: 1/1 /1/4;
  color: var(--Color-WhiteGhost);
}

.containerGrades img {
  /* width: 20%; */
  border: 1px solid var(--Color-WhiteGhost);
  box-shadow: 0 0 7px 1px var(--Color-BlueLight);
  border-radius: 0.5rem;
}
/* +++++SECTION basic institucional 3to5+++++
+++++++++++++++++++++++++++++++++++
 */
.sections:nth-of-type(3) .articles,
.sections:nth-of-type(4) .articles,
.sections:nth-of-type(5) .articles {
  background-color: var(--Color-BlueDark);
  color: var(--Color-WhiteGhost);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  font-size: clamp(1.5rem, 2vh, 3rem);
  font-weight: 800;
}
/* +++++SECTION introduce-MySelf+++++
+++++++++++++++++++++++++++++++++++
 */
.sections:nth-of-type(6) .articles {
  background-color: var(--Color-BlueDark);
  color: var(--Color-WhiteGhost);
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#mePresento > p {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  align-items: center;
}
#mePresento ol {
  /* background-color: red; */
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

/* ¨*****SECTION ARMY******
***** ***************************/

#armamento section {
  background-color: var(--Color-BlueDark);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* height: 100vh; */
  padding: 1rem;
  /* position: relative; */
  /* z-index: 5; */
}
#armamento section h2 i {
  transform: rotate(90deg);
  margin-right: 0.5rem;
}
#armamento section h2 {
  /* width: 100%; */
  background-color: var(--Color-BlackNight);
  color: var(--Color-beigedGold);
  /* display: flex; */
  align-items: center;

  justify-content: start;
  /* text-align: center; */
  /* margin-top: 0.5rem; */
  top: 3rem;
  /* z-index: 10; */
  /* position: sticky; */
}
#armamento #armamento-MedidasSeguridad ol {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  line-height: 1.6;
}
#armamento-MedidasSeguridad .armamento-medidasSeguridad-box {
  margin-left: 1rem;
  margin-bottom: 2rem;
}
#armamento-MedidasSeguridad .armamento-medidasSeguridad-box details {
  padding: 0 0.5rem;
  background-color: gray;
  border-radius: 0.5rem;
  line-height: 1.6;
  margin-top: 3rem;
  width: 100%;
  height: 100%;
}
#armamento-MedidasSeguridad
  .armamento-medidasSeguridad-box
  details
  summary:last-of-type {
  background-color: red;
  text-align: center;
}
#armamento-CirculoFuego {
  height: 100vh;
}
#armamento-CirculoFuego > p {
  padding: 1rem;
  /* margin-bottom: 1rem; */
}
#armamento-CirculoFuego .circuloFuego-box {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin-top: 1rem; */
}
#armamento-CirculoFuego .circuloFuego-box > details {
  border: 2px solid var(--Color-beigedGold);
  /* box-shadow: inset 0 0 7px 2px var(--Color-beigedGold); */
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
#armamento-CirculoFuego .circuloFuego-box > details summary {
  line-height: 1.6;
}

#armamento-CaracteristicArma .caracteristicArma-Content {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  overflow: hidden;
  margin-top: 1rem;
}
#armamento-CaracteristicArma .caracteristicArma-Box {
  width: 170px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--Color-beigedGold);
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  /* z-index: -1; */
  /* padding: 1rem; */
}

.caracteristicArma-Box > img {
  width: 100%;
  height: 65%;
  object-fit: cover;
  object-position: 10%;
}
.caracteristicArma-Box > .textArmy-type {
  /* background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.801) 50%,
    var(--Color-beigedGold) 95%
  ); */
  background-color: var(--Color-BlueDark);
  /* border: 1px solid; */
  position: absolute;
  right: 4px;
  top: 4px;
  color: gray;
  /* position: relative; */
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-transform: uppercase;
  font-size: 1.5vh;
  /* z-index: -1; */
}
.caracteristicArma-Box > .textArmy-model {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
  /* width: 100%; */
  /* margin-left: 0.5rem; */
  /* margin-bottom: 1rem; */
  /* line-height: 1.6; */
  text-underline-offset: 7px;
  /* bottom: 1rem; */
}
.caracteristicArma-Box > .textArmy-model a {
  /* background-color: red; */
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: end;
  position: absolute;
  height: 90%;
  width: 100%;
}
/* ☢️☢️☢️PRUEBAS IMAGENES☢️☢️ */
.pruebaImagenes {
  /* background-color: green;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}
.containerImageTest {
  background-color: red;
  /* width: 200px; */
  /* position: absolute; */
  /* overflow: hidden; */
  /* display: flex; */
  border: 3px solid;
  /* mix-blend-mode: multiply; */
  /* justify-content: center;
  align-items: center; */
  /* z-index: 999; */
}
.containerImageTest:first-of-type {
  /* overflow: hidden; */
  /* mix-blend-mode: multiply; */
}
.containerImageTest-inset {
  /* width: 300px; */
  background-color: rebeccapurple;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* position: absolute; */
  /* z-index: 2; */
}
.boxesflash {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: end;
  position: absolute;
  margin-top: -2rem;
  display: flex;
}
.containerflashers {
  width: 40px;
  height: 10px;
}
.containerflashers:nth-of-type(1) {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 0.3rem;
  opacity: 0.3;
  animation: flashblue 0.3s alternate infinite;
}
.containerflashers:nth-of-type(2) {
  animation: flashred 0.4s alternate infinite;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 0.3rem;
  opacity: 0.4;
}
@keyframes flashred {
  0% {
    box-shadow: inset -11px 0 12px 4px red;
  }
  100% {
    box-shadow: inset 1px 0 0px 4px red;
    opacity: 1;
  }
}
@keyframes flashblue {
  0% {
    box-shadow: inset 11px 0 12px 4px #135dd8;
  }
  100% {
    box-shadow: inset 1px 0 0px 4px #135dd8;
    opacity: 1;
  }
}
